In [1]:
import findspark
findspark.init()
import pyspark

In [2]:
import os
port = 4040 + hash(os.getcwd().split("/")[2])%200

config = pyspark.SparkConf().set('spark.executor.memory', '512M')\
            .set('spark.cores.max', '10')\
            .set('spark.port.maxRetries','200')\
            .set('spark.ui.port', port)\
            .set('spark.master', 'spark://polyp1:7077')\
            .set('spark.app.name', "structuredComputation")

#sc = pyspark.SparkContext(conf = config)
ss = pyspark.sql.SparkSession.builder.config(conf = config).getOrCreate()

# print ss.conf.get('spark.app.name')
# print ss.conf.get('spark.master')

In [3]:
#Task 2: Build Data Frame of the given data
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("dates").getOrCreate()
df2 = spark.read.csv("/scratch/ISE495/taxi_data/green_tripdata_2015-09.csv",header = False,inferSchema = True)

In [4]:
df2.show()

+---+-------------------+-------------------+---+---+------------------+------------------+------------------+------------------+---+----+----+----+----+----+----+----+----+----+----+----+
|_c0|                _c1|                _c2|_c3|_c4|               _c5|               _c6|               _c7|               _c8|_c9|_c10|_c11|_c12|_c13|_c14|_c15|_c16|_c17|_c18|_c19|_c20|
+---+-------------------+-------------------+---+---+------------------+------------------+------------------+------------------+---+----+----+----+----+----+----+----+----+----+----+----+
|  2|2015-09-01 00:02:34|2015-09-01 00:02:38|  N|  5|-73.97948455810547| 40.68495559692383|-73.97943115234375|40.685020446777344|  1| 0.0| 7.8| 0.0| 0.0|1.95| 0.0|null| 0.0|9.75|   1|   2|
|  2|2015-09-01 00:04:20|2015-09-01 00:04:24|  N|  5|-74.01079559326172| 40.91221618652344|-74.01078033447266| 40.91221237182617|  1| 0.0|45.0| 0.0| 0.0| 0.0| 0.0|null| 0.0|45.0|   1|   2|
|  2|2015-09-01 00:01:50|2015-09-01 00:04:24|  N|  1| -73.9214096069336| 40.76670837402344|-73.91441345214844|40.764686584472656|  1|0.59| 4.0| 0.5| 0.5| 0.5| 0.0|null| 0.3| 5.8|   1|   1|
|  2|2015-09-01 00:02:36|2015-09-01 00:06:42|  N|  1|   -73.92138671875| 40.76667785644531|-73.93142700195312|40.771583557128906|  1|0.74| 5.0| 0.5| 0.5| 0.0| 0.0|null| 0.3| 6.3|   2|   1|
|  2|2015-09-01 00:00:14|2015-09-01 00:04:20|  N|  1|-73.95548248291016|40.714046478271484|-73.94441223144531| 40.71472930908203|  1|0.61| 5.0| 0.5| 0.5| 0.0| 0.0|null| 0.3| 6.3|   2|   1|
|  2|2015-09-01 00:00:39|2015-09-01 00:05:20|  N|  1|-73.94529724121094| 40.80818557739258|-73.93766784667969|40.821197509765625|  1|1.07| 5.5| 0.5| 0.5|1.36| 0.0|null| 0.3|8.16|   1|   1|
|  2|2015-09-01 00:00:52|2015-09-01 00:05:50|  N|  1|-73.89087677001953| 40.74642562866211|-73.87692260742188| 40.75630569458008|  1|1.43| 6.5| 0.5| 0.5| 0.0| 0.0|null| 0.3| 7.8|   1|   1|
|  2|2015-09-01 00:02:15|2015-09-01 00:05:34|  N|  1|-73.94670104980469| 40.79732131958008| -73.9376449584961| 40.80451583862305|  1| 0.9| 5.0| 0.5| 0.5| 0.0| 0.0|null| 0.3| 6.3|   2|   1|
|  2|2015-09-01 00:02:36|2015-09-01 00:07:20|  N|  1|-73.96315002441406| 40.69382858276367|  -73.956787109375|  40.6805305480957|  1|1.33| 6.0| 0.5| 0.5|1.46| 0.0|null| 0.3|8.76|   1|   1|
|  2|2015-09-01 00:02:13|2015-09-01 00:07:23|  N|  1|-73.89682006835938| 40.74612808227539|-73.88862609863281|40.752723693847656|  1|0.84| 5.5| 0.5| 0.5| 0.0| 0.0|null| 0.3| 6.8|   2|   1|
|  2|2015-09-01 00:01:12|2015-09-01 00:05:03|  N|  1|-73.82991790771484|40.713768005371094|-73.83494567871094| 40.70729064941406|  2| 0.8| 5.0| 0.5| 0.5| 0.0| 0.0|null| 0.3| 6.3|   2|   1|
|  2|2015-09-01 00:04:00|2015-09-01 00:06:06|  N|  1| -73.9055404663086|40.772525787353516| -73.8953628540039| 40.76896286010742|  1| 0.7| 4.0| 0.5| 0.5|1.06| 0.0|null| 0.3|6.36|   1|   1|
|  2|2015-09-01 00:03:06|2015-09-01 00:07:40|  N|  1|  -73.941650390625|40.818294525146484|  -73.950927734375| 40.82603073120117|  1|1.01| 5.5| 0.5| 0.5| 0.0| 0.0|null| 0.3| 6.8|   2|   1|
|  2|2015-09-01 00:05:01|2015-09-01 00:07:11|  N|  1|-73.93252563476562| 40.85680389404297|-73.93136596679688|40.856117248535156|  1|0.39| 3.5| 0.5| 0.5| 0.0| 0.0|null| 0.3| 4.8|   2|   1|
|  2|2015-09-01 00:04:59|2015-09-01 00:07:27|  N|  1|-73.95282745361328|40.808353424072266|-73.94914245605469| 40.80290985107422|  1|0.56| 4.0| 0.5| 0.5| 0.0| 0.0|null| 0.3| 5.3|   2|   1|
|  2|2015-09-01 00:00:58|2015-09-01 00:07:54|  N|  1|  -73.904052734375| 40.87870788574219|-73.89696502685547| 40.90113067626953|  1| 1.8| 7.5| 0.5| 0.5| 0.0| 0.0|null| 0.3| 8.8|   2|   1|
|  2|2015-09-01 00:01:09|2015-09-01 00:08:23|  N|  1|-74.02134704589844|40.647010803222656|-74.00405883789062| 40.65459442138672|  1|1.46| 7.5| 0.5| 0.5| 0.0| 0.0|null| 0.3| 8.8|   2|   1|
|  2|2015-09-01 00:04:02|2015-09-01 00:07:20|  N|  1|-73.95098876953125| 40.68049621582031| -73.9539566040039| 40.69042205810547|  1|0.88| 5.0| 0.5| 0.5|1.26| 0.0|null| 0.3|7.56|   1|   1|
|  2|2015-09-01 00:00:17|2015-09-01 00:07:29|  N|  1|-73.84967041015625| 40.72400665283203|-73.83512878417969| 40.70719909667969|  1|1.73| 7.5| 0.5| 0.5| 0.0| 0.0|null| 0.3| 8.8|   2|   1|
|  2|2015-09-01 00:01:32|2015-09-01 00:07:27|  N|  1| -73.9466781616211| 40.80628967285156|-73.93624877929688|40.799251556396484|  1|0.82| 5.5| 0.5| 0.5| 0.0| 0.0|null| 0.3| 6.8|   2|   1|
+---+-------------------+-------------------+---+---+------------------+------------------+------------------+------------------+---+----+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

In [5]:
df2.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: timestamp (nullable = true)
 |-- _c2: timestamp (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: integer (nullable = true)
 |-- _c5: double (nullable = true)
 |-- _c6: double (nullable = true)
 |-- _c7: double (nullable = true)
 |-- _c8: double (nullable = true)
 |-- _c9: integer (nullable = true)
 |-- _c10: double (nullable = true)
 |-- _c11: double (nullable = true)
 |-- _c12: double (nullable = true)
 |-- _c13: double (nullable = true)
 |-- _c14: double (nullable = true)
 |-- _c15: double (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: double (nullable = true)
 |-- _c18: double (nullable = true)
 |-- _c19: integer (nullable = true)
 |-- _c20: integer (nullable = true)

In [6]:
# Change Header Names of the columns in Data Frame:
oldColumns = df2.schema.names
newColumns = ["VendorID","lpep_pickup_datetime","Lpep_dropoff_datetime","Store_and_fwd_flag","RateCodeID","Pickup_longitude","Pickup_latitude","Dropoff_longitude","Dropoff_latitude","Passenger_count","Trip_distance","Fare_amount","Extra","MTA_tax","Tip_amount","Tolls_amount","Ehail_fee","improvement_surcharge","Total_amount","Payment_type","Trip_type"]

df3 = reduce(lambda df2, idx: df2.withColumnRenamed(oldColumns[idx], newColumns[idx]), xrange(len(oldColumns)), df2)
df3.printSchema()
df3.show()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- Lpep_dropoff_datetime: timestamp (nullable = true)
 |-- Store_and_fwd_flag: string (nullable = true)
 |-- RateCodeID: integer (nullable = true)
 |-- Pickup_longitude: double (nullable = true)
 |-- Pickup_latitude: double (nullable = true)
 |-- Dropoff_longitude: double (nullable = true)
 |-- Dropoff_latitude: double (nullable = true)
 |-- Passenger_count: integer (nullable = true)
 |-- Trip_distance: double (nullable = true)
 |-- Fare_amount: double (nullable = true)
 |-- Extra: double (nullable = true)
 |-- MTA_tax: double (nullable = true)
 |-- Tip_amount: double (nullable = true)
 |-- Tolls_amount: double (nullable = true)
 |-- Ehail_fee: string (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- Total_amount: double (nullable = true)
 |-- Payment_type: integer (nullable = true)
 |-- Trip_type: integer (nullable = true)

+--------+--------------------+---------------------+------------------+----------+------------------+------------------+------------------+------------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+
|VendorID|lpep_pickup_datetime|Lpep_dropoff_datetime|Store_and_fwd_flag|RateCodeID|  Pickup_longitude|   Pickup_latitude| Dropoff_longitude|  Dropoff_latitude|Passenger_count|Trip_distance|Fare_amount|Extra|MTA_tax|Tip_amount|Tolls_amount|Ehail_fee|improvement_surcharge|Total_amount|Payment_type|Trip_type|
+--------+--------------------+---------------------+------------------+----------+------------------+------------------+------------------+------------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+
|       2| 2015-09-01 00:02:34|  2015-09-01 00:02:38|                 N|         5|-73.97948455810547| 40.68495559692383|-73.97943115234375|40.685020446777344|              1|          0.0|        7.8|  0.0|    0.0|      1.95|         0.0|     null|                  0.0|        9.75|           1|        2|
|       2| 2015-09-01 00:04:20|  2015-09-01 00:04:24|                 N|         5|-74.01079559326172| 40.91221618652344|-74.01078033447266| 40.91221237182617|              1|          0.0|       45.0|  0.0|    0.0|       0.0|         0.0|     null|                  0.0|        45.0|           1|        2|
|       2| 2015-09-01 00:01:50|  2015-09-01 00:04:24|                 N|         1| -73.9214096069336| 40.76670837402344|-73.91441345214844|40.764686584472656|              1|         0.59|        4.0|  0.5|    0.5|       0.5|         0.0|     null|                  0.3|         5.8|           1|        1|
|       2| 2015-09-01 00:02:36|  2015-09-01 00:06:42|                 N|         1|   -73.92138671875| 40.76667785644531|-73.93142700195312|40.771583557128906|              1|         0.74|        5.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         6.3|           2|        1|
|       2| 2015-09-01 00:00:14|  2015-09-01 00:04:20|                 N|         1|-73.95548248291016|40.714046478271484|-73.94441223144531| 40.71472930908203|              1|         0.61|        5.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         6.3|           2|        1|
|       2| 2015-09-01 00:00:39|  2015-09-01 00:05:20|                 N|         1|-73.94529724121094| 40.80818557739258|-73.93766784667969|40.821197509765625|              1|         1.07|        5.5|  0.5|    0.5|      1.36|         0.0|     null|                  0.3|        8.16|           1|        1|
|       2| 2015-09-01 00:00:52|  2015-09-01 00:05:50|                 N|         1|-73.89087677001953| 40.74642562866211|-73.87692260742188| 40.75630569458008|              1|         1.43|        6.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         7.8|           1|        1|
|       2| 2015-09-01 00:02:15|  2015-09-01 00:05:34|                 N|         1|-73.94670104980469| 40.79732131958008| -73.9376449584961| 40.80451583862305|              1|          0.9|        5.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         6.3|           2|        1|
|       2| 2015-09-01 00:02:36|  2015-09-01 00:07:20|                 N|         1|-73.96315002441406| 40.69382858276367|  -73.956787109375|  40.6805305480957|              1|         1.33|        6.0|  0.5|    0.5|      1.46|         0.0|     null|                  0.3|        8.76|           1|        1|
|       2| 2015-09-01 00:02:13|  2015-09-01 00:07:23|                 N|         1|-73.89682006835938| 40.74612808227539|-73.88862609863281|40.752723693847656|              1|         0.84|        5.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         6.8|           2|        1|
|       2| 2015-09-01 00:01:12|  2015-09-01 00:05:03|                 N|         1|-73.82991790771484|40.713768005371094|-73.83494567871094| 40.70729064941406|              2|          0.8|        5.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         6.3|           2|        1|
|       2| 2015-09-01 00:04:00|  2015-09-01 00:06:06|                 N|         1| -73.9055404663086|40.772525787353516| -73.8953628540039| 40.76896286010742|              1|          0.7|        4.0|  0.5|    0.5|      1.06|         0.0|     null|                  0.3|        6.36|           1|        1|
|       2| 2015-09-01 00:03:06|  2015-09-01 00:07:40|                 N|         1|  -73.941650390625|40.818294525146484|  -73.950927734375| 40.82603073120117|              1|         1.01|        5.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         6.8|           2|        1|
|       2| 2015-09-01 00:05:01|  2015-09-01 00:07:11|                 N|         1|-73.93252563476562| 40.85680389404297|-73.93136596679688|40.856117248535156|              1|         0.39|        3.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         4.8|           2|        1|
|       2| 2015-09-01 00:04:59|  2015-09-01 00:07:27|                 N|         1|-73.95282745361328|40.808353424072266|-73.94914245605469| 40.80290985107422|              1|         0.56|        4.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         5.3|           2|        1|
|       2| 2015-09-01 00:00:58|  2015-09-01 00:07:54|                 N|         1|  -73.904052734375| 40.87870788574219|-73.89696502685547| 40.90113067626953|              1|          1.8|        7.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         8.8|           2|        1|
|       2| 2015-09-01 00:01:09|  2015-09-01 00:08:23|                 N|         1|-74.02134704589844|40.647010803222656|-74.00405883789062| 40.65459442138672|              1|         1.46|        7.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         8.8|           2|        1|
|       2| 2015-09-01 00:04:02|  2015-09-01 00:07:20|                 N|         1|-73.95098876953125| 40.68049621582031| -73.9539566040039| 40.69042205810547|              1|         0.88|        5.0|  0.5|    0.5|      1.26|         0.0|     null|                  0.3|        7.56|           1|        1|
|       2| 2015-09-01 00:00:17|  2015-09-01 00:07:29|                 N|         1|-73.84967041015625| 40.72400665283203|-73.83512878417969| 40.70719909667969|              1|         1.73|        7.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         8.8|           2|        1|
|       2| 2015-09-01 00:01:32|  2015-09-01 00:07:27|                 N|         1| -73.9466781616211| 40.80628967285156|-73.93624877929688|40.799251556396484|              1|         0.82|        5.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         6.8|           2|        1|
+--------+--------------------+---------------------+------------------+----------+------------------+------------------+------------------+------------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+
only showing top 20 rows

In [7]:
df3.createOrReplaceTempView("taxiTable")

In [8]:
# Task 2.1: Average Fare Amount by RateCodeID

jfk = ss.sql("SELECT DISTINCT RateCodeID FROM taxiTable")
print jfk.show()

+----------+
|RateCodeID|
+----------+
|         1|
|         6|
|         3|
|         5|
|         4|
|         2|
|        99|
+----------+

None

In [15]:
AvgFareAmtRateCodeID = df3.groupBy("RateCodeID").agg({'Fare_amount':'Average'})
print AvgFareAmtRateCodeID.show()

+----------+------------------+
|RateCodeID|  avg(Fare_amount)|
+----------+------------------+
|         1|12.244825220837368|
|         6| 2.138888888888889|
|         3| 48.79856759176365|
|         5|18.082432312995323|
|         4| 60.16488648648648|
|         2|49.021871476888386|
|        99|12.183333333333332|
+----------+------------------+

None

In [16]:
# Task 2.2: Airport Statistics:
     # Task 2.2.1: Number of rides per airport
     # Task 2.2.2: Footfall - jfk & newark - (number of passengers)
     # Task 2.2.3: Footfall - jfk & newark -  (Avg passenger count)
    # Task 2.2.4:  jfk & newark -  'passenger count' frequency by airport (trip counts for no. of passengers (eg. 1 passenger rides, 2 passenger rides)

In [17]:
# Task 2.2.1: Number of rides per airport
from pyspark.sql.functions import col, asc
df4 =  df3.filter((col("RateCodeID")=="2")|(col("RateCodeID")=="3")).groupBy("RateCodeID").agg({'RateCodeID':'count'})
print df4.show()

+----------+-----------------+
|RateCodeID|count(RateCodeID)|
+----------+-----------------+
|         3|             1117|
|         2|             4435|
+----------+-----------------+

None

In [18]:
# Task 2.2.2: Footfall - jfk & newark - (number of passengers)
df5 =  df3.filter((col("RateCodeID")=="2")|(col("RateCodeID")=="3")).groupBy("RateCodeID").agg({'Passenger_count':'sum'})
print df5.show()

+----------+--------------------+
|RateCodeID|sum(Passenger_count)|
+----------+--------------------+
|         3|                1560|
|         2|                5937|
+----------+--------------------+

None

In [20]:
# Task 2.2.3: Footfall - jfk & newark - (Avg of passengers)
df5 =  df3.filter((col("RateCodeID")=="2")|(col("RateCodeID")=="3")).groupBy("RateCodeID").agg({'Passenger_count':'average'})
print df5.show()

+----------+--------------------+
|RateCodeID|avg(Passenger_count)|
+----------+--------------------+
|         3|   1.396598030438675|
|         2|  1.3386696730552423|
+----------+--------------------+

None

In [21]:
# Task 2.2.4:  jfk  -  'passenger count' frequency by airport (trip counts for no. of passengers (eg. 1 passenger rides, 2 passenger rides)
jfkPASSCNT =  df3.filter(col("RateCodeID")=="2").groupBy("Passenger_count").agg({'Passenger_count':'count'})
jfkPASSCNT1 = jfkPASSCNT.sort("Passenger_count",ascending = True)
print jfkPASSCNT1.show()

+---------------+----------------------+
|Passenger_count|count(Passenger_count)|
+---------------+----------------------+
|              0|                     1|
|              1|                  3690|
|              2|                   450|
|              3|                    78|
|              4|                    19|
|              5|                   145|
|              6|                    52|
+---------------+----------------------+

None

In [22]:
# Task 2.2.4: newark(ewr) -  'passenger count' frequency by airport (trip counts for no. of passengers (eg. 1 passenger rides, 2 passenger rides)
ewrPASSCNT =  df3.filter(col("RateCodeID")=="3").groupBy("Passenger_count").agg({'Passenger_count':'count'})
ewrPASSCNT1 = ewrPASSCNT.sort("Passenger_count",ascending = True)
print ewrPASSCNT1.show()

+---------------+----------------------+
|Passenger_count|count(Passenger_count)|
+---------------+----------------------+
|              0|                     3|
|              1|                   902|
|              2|                   119|
|              3|                    26|
|              4|                     5|
|              5|                    50|
|              6|                    12|
+---------------+----------------------+

None

In [8]:
from pyspark.sql.functions import format_number,dayofmonth,hour,dayofyear,month,year,weekofyear,date_format

In [11]:
#Average tip calculated for each day
df3v2 = df3.groupBy(dayofmonth(df3["lpep_pickup_datetime"])).agg({"Tip_amount":'average'})
df3v2.sort("dayofmonth(lpep_pickup_datetime)",ascending=True).show(31)

+--------------------------------+------------------+
|dayofmonth(lpep_pickup_datetime)|   avg(Tip_amount)|
+--------------------------------+------------------+
|                               1| 1.157276730921966|
|                               2|1.2257408345615415|
|                               3|1.2168314314066098|
|                               4|1.2084189511433254|
|                               5|1.1289811147563424|
|                               6|1.0957841236376002|
|                               7|1.1577241723506955|
|                               8| 1.195500255825858|
|                               9|1.2705117899822609|
|                              10|1.2496369941760872|
|                              11|1.2891907290141817|
|                              12|1.2688144021982883|
|                              13|1.2539606225456748|
|                              14|1.1721332176841344|
|                              15|1.1968545604742784|
|                              16|1.2471805057235648|
|                              17|1.3078052197582313|
|                              18|1.2977675235066184|
|                              19| 1.343813132791016|
|                              20|1.3084360463082914|
|                              21|1.2453880187384765|
|                              22|1.2042953939482974|
|                              23|1.2299613805834313|
|                              24|1.2259683282705103|
|                              25|1.1706112956810706|
|                              26| 1.276211543738783|
|                              27|1.2900065626367325|
|                              28|1.2142163234099568|
|                              29|1.2308386387578503|
|                              30|1.2687901218674984|
+--------------------------------+------------------+

In [12]:
#Average tip calculated for every hour 
tipHour = df3.groupBy(hour(df3["lpep_pickup_datetime"])).agg({"Total_amount":'average'})
tipHour.sort("hour(lpep_pickup_datetime)",ascending=True).show(24)

+--------------------------+------------------+
|hour(lpep_pickup_datetime)| avg(Total_amount)|
+--------------------------+------------------+
|                         0|15.052440066709117|
|                         1|14.505001022819105|
|                         2|14.482007476454758|
|                         3|14.839847661188882|
|                         4|15.723967983651521|
|                         5|17.715533532933957|
|                         6| 17.47073454802146|
|                         7|15.874489256277892|
|                         8|15.663039090987107|
|                         9|15.408813097522996|
|                        10| 14.89791275144532|
|                        11|14.755747565636481|
|                        12|14.706189908004136|
|                        13|14.606718339510806|
|                        14|14.732148235930708|
|                        15|14.892425417136774|
|                        16|15.425989868237759|
|                        17|15.007077435187716|
|                        18|14.642485063500024|
|                        19|14.554941908239499|
|                        20| 14.27840447210526|
|                        21|14.855117802711568|
|                        22|15.527859276312427|
|                        23|15.471020865969418|
+--------------------------+------------------+

In [13]:
#Total revenue calculated for each day 
RevenueDay = df3.groupBy(dayofmonth(df3["lpep_pickup_datetime"])).agg({"Total_amount":'sum'})
RevenueDay.sort("sum(Total_amount)",ascending=False).show(30)

+--------------------------------+------------------+
|dayofmonth(lpep_pickup_datetime)| sum(Total_amount)|
+--------------------------------+------------------+
|                              19|1059257.5600003442|
|                              12|1015901.0000008264|
|                              26| 994744.2600007713|
|                              18| 885568.3900005366|
|                               5| 882249.4200005603|
|                              11| 881832.7600005448|
|                              20|  879678.740000546|
|                              13| 838903.9000004525|
|                              27| 837646.7000004852|
|                               4| 825679.7299997478|
|                              10| 798203.1399997436|
|                               6| 789113.0100003557|
|                              25| 784947.7899997325|
|                              17| 761206.5600002861|
|                               3| 724530.8400001999|
|                               9| 719978.6200001697|
|                              16| 708916.6099997985|
|                              30| 688290.8600001535|
|                               2| 654487.2600000313|
|                               8| 646527.0900000333|
|                              29| 641263.3500000488|
|                              21| 638552.2700000089|
|                               7| 629594.9199998683|
|                              28| 620795.1499998091|
|                               1| 613840.4999999487|
|                              15| 599983.9999999442|
|                              23| 595246.1599999325|
|                              22| 593278.7199999292|
|                              24| 584328.0699999081|
|                              14| 577398.1399998966|
+--------------------------------+------------------+

In [14]:
ss.stop()

In [ ]:
sc.stop()